<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品属性管理</title>
</head>
<body>
<table id="dg" class="easyui-datagrid" title="属性列表"
       data-options="singleSelect:true,collapsible:true,method:'get',toolbar:'#tb'">
    <!--定义下拉框列表-->
    <div id="selectList">
        <label for="catalog1List">一级分类：：</label>
        <select id="catalog1List" class="easyui-combobox" style="width:100px;"
                     data-options="
                        valueField:'id',
                        textField:'name',
                        url:'/get/catalog1/list',
                        onSelect:function(rec){
                                $('#catalog2List').combobox('clear');
                                $('#catalog2List').combobox('reload','get/catalog2/list?catalog1Id='+rec.id);
                         }">
        </select>
        <label for="catalog2List">二级分类：</label>
        <select id="catalog2List" class="easyui-combobox" style="width:100px;"
                     data-options="
                         valueField:'id',
                         textField:'name',
                         onSelect:function(rec){
                                $('#catalog3List').combobox('clear');
                                $('#catalog3List').combobox('reload','get/catalog3/list?catalog2Id='+rec.id);
                         }">
        </select>
        <label for="catalog3List">三级分类：</label>
        <select id="catalog3List" class="easyui-combobox" style="width:100px;"
                     data-options="
                         valueField:'id',
                         textField:'name'">
        </select>
        <a href="javascript:reloadAttrInfoList()" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:110px">查询属性列表</a>
    </div>
    <!--定义按钮-->
    <div id="tb">
        <div style="margin-bottom:5px">
            <a href="javascript:addAttr()" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">编辑</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
        </div>
    </div>
    <!--定义表格-->
    <thead>
        <tr>
            <th data-options="field:'id'" width="20%">属性id </th>
            <th data-options="field:'attrName'" width="80%">属性名</th>
        </tr>
    </thead>
</table>
<!--对话框-->
<div id="dlg" class="easyui-dialog" title="编辑属性" data-options="iconCls:'icon-save',closed:true" style="width:600px;height:500px;">
    <form id="attrForm">
        <br/>
        <label for="attrName">属性名称:</label>
        <input id="attrName" name="attrName" class="easyui-textbox" data-options="" style="width:100px"/>
        <br/><br/>
        <table id="dg_av" class="easyui-datagrid" title="属性值列表">

        </table>
    </form>

</div>

<script language="JavaScript">

    //定义一个检查函数，便于调用
    function checkSelectLevel3Result() {
        //获取选择的三级分类id
        var catalog3Id = $("#catalog3List").combobox("getValue");
        //如果三级分类未选择，则给出提示消息
        if (!catalog3Id){
            $.messager.alert('提示消息', '必须选择一个三级分类','warning');
        }
        return catalog3Id;
    }
    //获得属性的信息
    var reloadAttrInfoList = function (){
        //调用检查方法
        var catalog3Id = checkSelectLevel3Result();
        //不进行下面的代码
        if (!catalog3Id) {
         return;
        }
        //查找到easyUI发送请求并将结果返回给页面
        $('#dg').datagrid({url:'get/attr/info/list?catalog3Id='+catalog3Id});
    };

    var addAttr = function () {
        //先检查是否选择三级分类
        var catalog3Id = checkSelectLevel3Result();
        //不进行下面的代码
        if (!catalog3Id){
            return;
        }
        $("#attrId").val("");
        $("#attrName").textbox('clear');
        $('#dg_av').datagrid({url:''});
        //打开之前进行初始化
        initAttrValueDatagrid();
        //打开对话框
        $('#dlg').dialog('open');


    };

    //给弹出框进行初始化
    function initAttrValueDatagrid() {
        // 设置属性值列表
        $('#dg_av').datagrid("loadData", { total: 0, rows: [] });
        datagrid = $("#dg_av").datagrid({
            columns:[[
                { field:'id',title:'编号',width:'20%'},
                { field:'valueName',title:'属性值名称',width:'80%',
                    editor: {
                        type: 'validatebox', options: { required: true}  //必填项
                    }
                }
            ]],
            toolbar:[{text:'添加',iconCls:'icon-add',
                handler:function () {
                    datagrid.datagrid('appendRow',{id:'',valueName:''});
                }
            },'-',
                {text:'删除',iconCls:'icon-remove',
                    handler:function () {
                        var row = datagrid.datagrid('getSelected');
                        if (row) {
                            var rowIndex = datagrid.datagrid('getRowIndex', row);
                            datagrid.datagrid('deleteRow', rowIndex);
                        }
                    }
                }],
            onDblClickRow: function (rowIndex, rowData) {
                //双击开启编辑行
                datagrid.datagrid("beginEdit", rowIndex);
                //设定当失去焦点时,退出编辑状态
                var valueName = rowData.valueName;
                $("input.datagrid-editable-input").val(valueName).bind("blur",function(evt){
                    datagrid.datagrid('endEdit',rowIndex);
                });
            }
        });
    }

</script>
</body>
</html>